name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x

      - name: Set up Insta
        run: cargo install cargo-insta

      - name: Run each example
        run: |
          echo "Listing contents of examples:"
          ls -la examples || echo "No examples directory found"

          for dir in examples/*; do
            echo "Running $dir"
            (cd "$dir" && cargo run run)
            echo "------------------------"
          done

      - name: Run tests
        run: cargo insta test
